.navbar-correction{
    padding-right:30px
}


.card:hover{
    transform: scale(1.02);
    transition:ease-in-out;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition-delay:2ms;
    cursor: pointer;
}
.backposture{
    background-color:antiquewhite;
    margin-left: 10%;
    margin-top: 10px;
    margin-right:10% ;
    padding-top:40px;
    z-index: 1;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 8%;
    padding-bottom:40px;
    border-radius: 20px;
}
.ho::after{
    content:"";
    position:absolute;
    height: 5px;
    left: 0; 
    bottom:0;
    width: 0%;
    background-color:rgb(149, 201, 252);
    transition: width .2s;
    cursor: pointer;
}
.ho:hover::after{
    width: 100%;
}

ul{
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}
.cursorpoint{
    cursor: pointer;

}

.gapmenu{
    margin-top: 40px;
    margin-bottom: 40px;
}

.imageup:hover{
    transform: scale(1.07);
    transition:ease-in-out;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition-delay:2ms;
}

.bre{
    border-radius: 20px;
}

.backposture:hover{
    transform: scale(1.07);
    transition:ease-in-out;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition-delay:2ms;
    cursor: pointer;
}
.follow-us-container ul {
        display: inline-flex;
        list-style-type: none;
        padding: 0;
        justify-content: center;
    }
    .follow-us-container ul li {
        margin: 0 15px;
        text-align: center;
    }
    .social-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: transform 0.3s ease;
    }
    .social-icon:hover {
        transform: scale(1.2); /* Magnify effect */
    }

